
{% extends "layout.html" %}

{% block content %}

<h1>Add a Page</h1>
<div class="form-group">
  <form action='/add/submit' method='post'>
      <label for="exampleInputText1">Enter page title</label>
      <input type="text" name="page_title" class="form-control"><br>


      <label for="content">Enter page content!</label>
      <textarea name ="body" class="form-control" rows='5'></textarea>
     <button type="submit" class="btn btn-default">Submit</button>

  </form>

</div>


{% endblock %}