{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>BROWSE MY WIKISTACK!</h1>
  </div>

      
      <!-- display tweets here -->
  <div>
  	<!-- this will look stupid for now --> 
	  <!-- just get var component with . notation --> 
    <li>Fullstack Home</li>
    <li>About Me</li>
    <li>My Projects</li>
    <li>My City</li>
    <li>Code I've Written</li>

  </div>

  <ul>
    {% if docs.length > 0 %}
      {% for doc in docs %}
       <li><a href='#'></a></li>
      {% endfor %}
    {% endif %}
  </ul>
    
    
{% endblock %}
